.container {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 30vh;
  flex-direction: column;
}

form {
  margin-top: 20px;
}

.input-search {
  padding: 10px;
  border-radius: 6px;
  width: 200px;
  border: solid 1 px #d0d8da;
}

.input-search:focus {
  outline: none;
} 

.btn-search {
  
}